<div class="p-4">
    <h3 class="text-success mb-4">Quản lý sản phẩm</h3>
    <button class="btn btn-outline-success"><a style="text-decoration: none;" href="#!them-moi-san-pham">Thêm mới</a></button>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá sản phẩm</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Nokia 520</td>
                <td>15000000 vnđ</td>
                <td>
                    Điện thoại mới giá ổn
                </td>
                <td>
                    <button class="btn btn-primary">Sửa</button>
                    <button class="btn btn-danger">Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>