<div class="card-header">
    <h2>Điện thoại</h2>
</div>
<div class="row text-center">
    <div class="col-3" ng-repeat="value in">
        <div class="card">
            <a href="#!dien-thoai-chi-tiet"><img src="image/iphone-15-pro-max-blue.jpg" class="card-img-top mt-3" height="350px" width="300px" alt="iPhone 15 Pro Max 256GB"></a>
            <div class="card-body">
                <h4>iPhone 15 Pro Max 256GB</h4>
                <span class="me-2" style="font-weight: bold; color: red;">
                    32.990.000&#x20AB;
                </span>
                <strike>34.990.000&#x20AB;</strike>
                <small>-5%</small>
                <!-- <div class="card-body">
                    <button href="#" class="btn btn-outline-success" 
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Mua hàng
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <a href="#!dien-thoai-chi-tiet-1">
                <img src="image/iphone-13-pink.jpg" class="card-img-top mt-3" height="350px" width="300px" alt="iphone 13">
            </a>

            <div class="card-body">
                <h4>iphone 13</h4>
                <span style="font-weight: bold; color: red;">
                    16.190.000&#x20AB;
                </span>
                <strike>17.790.000&#x20AB;</strike>
                <small>-7%</small>
                <!-- <div class="card-body">
                    <button href="#" class="btn btn-outline-success"                                    
                        data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                        Mua hàng
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="image/iphone-15-plus-green.jpg" class="card-img-top mt-3" height="350px" width="300px" alt="iPhone 15 Plus 128GB">
            <div class="card-body">
                <h4>iPhone 15 Plus 128GB</h4>
                <span class="me-2" style="font-weight: bold; color: red;">
                    25.090.000&#x20AB;
                </span>
                <strike>25.590.000&#x20AB;</strike>
                <small>-1%</small>
                <!-- <div class="card-body">
                    <button href="#" class="btn btn-outline-success"                                            
                        data-bs-toggle="modal" data-bs-target="#exampleModal">                           
                        Mua hàng
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="image/iphone-14-pro-max-purple.jpg" class="card-img-top mt-3" height="350px" width="300px" alt="Phone 14 Pro Max 128GB">
            <div class="card-body">
                <h4>iPhone 14 Pro Max 128GB</h4>
                <span style="font-weight: bold; color: red;">
                    22.990.000&#x20AB;
                </span>
                <strike>20.590.000&#x20AB;</strike>
                <small>-5%</small>
                <!-- <div class="card-body">
                    <button href="#"
                    class="btn btn-outline-success"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Mua hàng</button>
                </div> -->
            </div>
        </div>
    </div>
</div>