<div class="card-header">
    <h2>Đồng hồ</h2>
</div>
<div class="row text-center">
    <div class="col-3">
        <div class="card">
            <a href="#!dong-ho-chi-tiet"><img src="image/apple-watch-s9.jpg"
                    class="card-img-top mt-3" height="350px" width="300px"
                    alt="Apple Watch Series 9 GPS"> 
            </a>
            <div class="card-body">
                <h4>Apple Watch Series 9 GPS</h4>
                <span style="font-weight: bold; color: red;">
                    10.190.000&#x20AB;
                </span>
                <strike>10.590.000&#x20AB;</strike>
                <!-- <div class="card-body">
                    <button href="#" class="btn btn-outline-success"                                       
                        data-bs-toggle="modal" data-bs-target="#exampleModal">                                       
                        Mua hàng
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="image/apple-watch-se.jpg"
                class="card-img-top mt-3" height="350px" width="300px"
                alt="Apple Watch SE 2022 GPS">
            <div class="card-body">
                <h4>Apple Watch SE 2022 GPS</h4>
                <span style="font-weight: bold; color: red;">
                    10.990.000&#x20AB;
                </span>
                <strike>8.590.000&#x20AB;</strike>
                <!-- <div class="card-body">
                    <button href="#" class="btn btn-outline-success"                                       
                        data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                        Mua hàng
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="image/apple-watch-ultra-lte.jpg"
                class="card-img-top mt-3" height="350px" width="300px"
                alt="Apple Watch Ultra 2">
            <div class="card-body">
                <h4>Apple Watch Ultra 2</h4>
                <span style="font-weight: bold; color: red;">
                    21.990.000&#x20AB;
                </span>
                <strike>20.590.000&#x20AB;</strike>
                <!-- <div class="card-body">
                    <button href="#" class="btn btn-outline-success"                                        
                        data-bs-toggle="modal" data-bs-target="#exampleModal">                                       
                        Mua hàng
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="image/apple-watch-s8.jpg"
                class="card-img-top mt-3" height="350px" width="300px"
                alt="Apple Watch Series 8">
            <div class="card-body">
                <h4>Apple Watch Series 8</h4>
                <span style="font-weight: bold; color: red;">
                    9.990.000&#x20AB;
                </span>
                <strike>13.590.000&#x20AB;</strike>
                <!-- <div class="card-body">
                    <button href="#" class="btn btn-outline-success"                                        
                        data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                        Mua hàng
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</div>