<div class="card-header">
    <h2>Laptop</h2>
</div>
<div class="row text-center">
    <div class="col-3">
        <div class="card">
            <img src="https://vcdn-sohoa.vnecdn.net/2021/01/21/HP-Elite-Folio-Front-Left-Forw-6107-5267-1611217952.jpg"
                class="card-img-top mt-3" height="350px" width="300px"
                alt="Apple Watch Series 8">                            
            <div class="card-body">
                <h4>Laptop đời thấp</h4>
                <span style="font-weight: bold; color: red;">
                    19.990.000&#x20AB;
                </span>
                <strike>23.590.000&#x20AB;</strike>
                <!-- <div class="card-body">
                    <button href="#" class="btn btn-outline-success"                                        
                        data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                        Mua hàng
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="https://www.tnc.com.vn/uploads/news/20230309_SEO/dell-xps-13-plus-1678233879.png"
                class="card-img-top mt-3" height="350px" width="300px"
                alt="Apple Watch Series 8">                            
            <div class="card-body">
                <h4>Laptop Dell</h4>
                <span style="font-weight: bold; color: red;">
                    23.990.000&#x20AB;
                </span>
                <strike>24.590.000&#x20AB;</strike>
                <!-- <div class="card-body">
                    <button href="#" class="btn btn-outline-success"                                        
                        data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                        Mua hàng
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="https://congluan-cdn.congluan.vn/files/content/2023/08/14/hinh-anh-chiec-laptop-dau-tien-do-tecno-san-xuat-092736845.jpg"
                class="card-img-top mt-3" height="350px" width="300px"
                alt="Apple Watch Series 8">                            
            <div class="card-body">
                <h4>Laptop giám giẻ</h4>
                <span style="font-weight: bold; color: red;">
                    9.990.000&#x20AB;
                </span>
                <strike>13.590.000&#x20AB;</strike>
                <!-- <div class="card-body">
                    <button href="#" class="btn btn-outline-success"                                        
                        data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                        Mua hàng
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="https://surfacecu.com.vn/wp-content/uploads/2022/03/thay-man-hinh-surface-laptop-go.jpg"
                class="card-img-top mt-3" height="350px" width="300px"
                alt="Apple Watch Series 8">                            
            <div class="card-body">
                <h4>Laptop Apple</h4>
                <span style="font-weight: bold; color: red;">
                    19.990.000&#x20AB;
                </span>
                <strike>22.590.000&#x20AB;</strike>
                <!-- <div class="card-body">
                    <button href="#" class="btn btn-outline-success"                                        
                        data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                        Mua hàng
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</div>