<div class="p-4" style="min-height: 800px;">
    <h4 class="text-primary mb-4">Quản lý sản phẩm</h4>
    <button class="btn btn-info">Thêm mới</button>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá sản phẩm</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>iphone 15 ProMax 256GB</td>
                <td>32.990.000&#x20AB;</td>
                <td>
                    Điện thoại mới giá ổn
                </td>
                <td>
                    <button class="btn btn-warning">Sửa</button>
                    <button class="btn btn-danger">Xóa</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Apple Watch Series 9 GPS</td>
                <td>10.190.000&#x20AB;</td>
                <td>
                    Đồng hồ mới giá ổn
                </td>
                <td>
                    <button class="btn btn-warning">Sửa</button>
                    <button class="btn btn-danger">Xóa</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Laptop đời thấp</td>
                <td>19.990.000&#x20AB;</td>
                <td>
                    Laptop giá ổn
                </td>
                <td>
                    <button class="btn btn-warning">Sửa</button>
                    <button class="btn btn-danger">Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>