<div class="row">
    <div class="container-fluid">
        <div class="card-header">
            <h2>Điện thoại</h2>
        </div>
        <div class="row text-center">    
            <div class="col-3" >
                <div class="card">
                    <a href="#!dien-thoai-chi-tiet"><img src="image/iphone-15-pro-max-blue.jpg"
                        class="card-img-top mt-3" height="350px" width="300px"
                        alt="iPhone 15 Pro Max 256GB"></a>
                    <div class="card-body">
                        <h4>iPhone 15 Pro Max 256GB</h4>
                        <span class="me-2" style="font-weight: bold; color: red;">
                            32.990.000&#x20AB;
                        </span>
                        <strike>34.990.000&#x20AB;</strike>
                        <small>-5%</small>
                        <!-- <div class="card-body">
                            <button href="#" class="btn btn-outline-success" 
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Mua hàng
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>   
            <div class="col-3">
                <div class="card">
                    <img src="image/iphone-13-pink.jpg"                                   
                        class="card-img-top mt-3" height="350px" width="300px"
                        alt="iphone 13">
                    <div class="card-body">
                        <h4>iphone 13</h4>
                        <span style="font-weight: bold; color: red;">
                            16.190.000&#x20AB;
                        </span>
                        <strike>17.790.000&#x20AB;</strike>
                        <small>-7%</small>
                        <!-- <div class="card-body">
                            <button href="#" class="btn btn-outline-success"                                    
                                data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                                Mua hàng
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>                
            <div class="col-3" >
                <div class="card">
                    <img src="image/iphone-15-plus-green.jpg"                                 
                        class="card-img-top mt-3" height="350px" width="300px"
                        alt="iPhone 15 Plus 128GB">
                    <div class="card-body">                                  
                        <h4>iPhone 15 Plus 128GB</h4>
                        <span class="me-2" style="font-weight: bold; color: red;">
                            25.090.000&#x20AB;
                        </span>
                        <strike>25.590.000&#x20AB;</strike>
                        <small>-1%</small>
                        <!-- <div class="card-body">
                            <button href="#" class="btn btn-outline-success"                                            
                                data-bs-toggle="modal" data-bs-target="#exampleModal">                           
                                Mua hàng
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-3" >
                <div class="card">
                    <img src="image/iphone-14-pro-max-purple.jpg"                                    
                        class="card-img-top mt-3" height="350px" width="300px"
                        alt="Phone 14 Pro Max 128GB">
                    <div class="card-body">
                        <h4>iPhone 14 Pro Max 128GB</h4>
                        <span style="font-weight: bold; color: red;">
                            22.990.000&#x20AB;
                        </span>
                        <strike>20.590.000&#x20AB;</strike>
                        <small>-5%</small>
                        <!-- <div class="card-body">
                            <button href="#"
                            class="btn btn-outline-success"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Mua hàng</button>
                        </div> -->
                    </div>
                </div>
            </div>   
        </div>
        <!-- Điện thoại done -->
        <br>
        <div class="col-12">
            <img src="image/banner3.png">                          
        </div>                   
        <hr class="bg-success" style="height: 3px; font-weight: bold;">
        <div class="card-header">
            <h2>Đồng hồ</h2>
        </div>
        <div class="row text-center">
            <div class="col-3">
                <div class="card">
                    <img src="image/apple-watch-s9.jpg"
                        class="card-img-top mt-3" height="350px" width="300px"
                        alt="Apple Watch Series 9 GPS">                            
                    <div class="card-body">
                        <h4>Apple Watch Series 9 GPS</h4>
                        <span style="font-weight: bold; color: red;">
                            10.190.000&#x20AB;
                        </span>
                        <strike>10.590.000&#x20AB;</strike>
                        <!-- <div class="card-body">
                            <button href="#" class="btn btn-outline-success"                                       
                                data-bs-toggle="modal" data-bs-target="#exampleModal">                                       
                                Mua hàng
                            </button>
                        </div> -->
                    </div>
                </div>                           
            </div>
            <div class="col-3">
                <div class="card">
                    <img src="image/apple-watch-se.jpg"
                        class="card-img-top mt-3" height="350px" width="300px"
                        alt="Apple Watch SE 2022 GPS">                            
                    <div class="card-body">
                        <h4>Apple Watch SE 2022 GPS</h4>
                        <span style="font-weight: bold; color: red;">
                            10.990.000&#x20AB;
                        </span>
                        <strike>8.590.000&#x20AB;</strike>
                        <!-- <div class="card-body">
                            <button href="#" class="btn btn-outline-success"                                       
                                data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                                Mua hàng
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img src="image/apple-watch-ultra-lte.jpg"
                        class="card-img-top mt-3" height="350px" width="300px"
                        alt="Apple Watch Ultra 2">                            
                    <div class="card-body">
                        <h4>Apple Watch Ultra 2</h4>
                        <span style="font-weight: bold; color: red;">
                            21.990.000&#x20AB;
                        </span>
                        <strike>20.590.000&#x20AB;</strike>
                        <!-- <div class="card-body">
                            <button href="#" class="btn btn-outline-success"                                        
                                data-bs-toggle="modal" data-bs-target="#exampleModal">                                       
                                Mua hàng
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img src="image/apple-watch-s8.jpg"
                        class="card-img-top mt-3" height="350px" width="300px"
                        alt="Apple Watch Series 8">                            
                    <div class="card-body">
                        <h4>Apple Watch Series 8</h4>
                        <span style="font-weight: bold; color: red;">
                            9.990.000&#x20AB;
                        </span>
                        <strike>13.590.000&#x20AB;</strike>
                        <!-- <div class="card-body">
                            <button href="#" class="btn btn-outline-success"                                        
                                data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                                Mua hàng
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-12">
            <img src="image/banner4.png" alt="">
        </div>                   
        <hr class="bg-success" style="height: 3px; font-weight: bold;">
        <div class="card-header">
            <h2>Laptop</h2>
        </div>
        <div class="row text-center">
            <div class="col-3">
                <div class="card">
                    <img src="https://vcdn-sohoa.vnecdn.net/2021/01/21/HP-Elite-Folio-Front-Left-Forw-6107-5267-1611217952.jpg"
                        class="card-img-top mt-3" height="350px" width="300px"
                        alt="Apple Watch Series 8">                            
                    <div class="card-body">
                        <h4>Laptop đời thấp</h4>
                        <span style="font-weight: bold; color: red;">
                            19.990.000&#x20AB;
                        </span>
                        <strike>23.590.000&#x20AB;</strike>
                        <!-- <div class="card-body">
                            <button href="#" class="btn btn-outline-success"                                        
                                data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                                Mua hàng
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img src="https://www.tnc.com.vn/uploads/news/20230309_SEO/dell-xps-13-plus-1678233879.png"
                        class="card-img-top mt-3" height="350px" width="300px"
                        alt="Apple Watch Series 8">                            
                    <div class="card-body">
                        <h4>Laptop Dell</h4>
                        <span style="font-weight: bold; color: red;">
                            23.990.000&#x20AB;
                        </span>
                        <strike>24.590.000&#x20AB;</strike>
                        <!-- <div class="card-body">
                            <button href="#" class="btn btn-outline-success"                                        
                                data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                                Mua hàng
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img src="https://congluan-cdn.congluan.vn/files/content/2023/08/14/hinh-anh-chiec-laptop-dau-tien-do-tecno-san-xuat-092736845.jpg"
                        class="card-img-top mt-3" height="350px" width="300px"
                        alt="Apple Watch Series 8">                            
                    <div class="card-body">
                        <h4>Laptop giám giẻ</h4>
                        <span style="font-weight: bold; color: red;">
                            9.990.000&#x20AB;
                        </span>
                        <strike>13.590.000&#x20AB;</strike>
                        <!-- <div class="card-body">
                            <button href="#" class="btn btn-outline-success"                                        
                                data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                                Mua hàng
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img src="https://surfacecu.com.vn/wp-content/uploads/2022/03/thay-man-hinh-surface-laptop-go.jpg"
                        class="card-img-top mt-3" height="350px" width="300px"
                        alt="Apple Watch Series 8">                            
                    <div class="card-body">
                        <h4>Laptop Apple</h4>
                        <span style="font-weight: bold; color: red;">
                            19.990.000&#x20AB;
                        </span>
                        <strike>22.590.000&#x20AB;</strike>
                        <!-- <div class="card-body">
                            <button href="#" class="btn btn-outline-success"                                        
                                data-bs-toggle="modal" data-bs-target="#exampleModal">                                        
                                Mua hàng
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- phân trang -->
        <div class="row mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center"><!--justify-content-center : căn giữa website-->                               
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">                           
                            <span aria-hidden="true">&laquo;</span>                                        
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>    
                    <li class="page-item">
                        <a class="page-link" href="#"  aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- phân trang -->
    </div>
</div>