<div ngcontroller="_FooterController" class=" ps-4 pt-3 position-absolute end-0" style="height: 60px; width: 100%;">
    <div>
            <footer class="text-center text-lg-start bg-body-tertiary text-muted">  
                <section class="">
                    <div class="container text-center text-md-start mt-5">
                        <div class="row mt-3">
                            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>
                                    Company name                      
                                </h6>
                                <p>
                                    Công ty thiết kế website Web4s là một thương hiệu uy tín với hơn 20 năm kinh nghiệm trong lĩnh vực Công nghệ thông tin [1]. Công ty này cam kết bảo mật website, đảm bảo hoạt động ổn định và tốc độ load trang nhanh. Họ cung cấp nhiều giao diện web chuyên nghiệp và hỗ trợ marketing hoàn hảo.
                                </p>
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                <h6 class="text-uppercase fw-bold mb-4">SOCIAL NETWORK</h6>                            
                                <ul class="navbar-nav mb-2 mb-lg-0 fw-bold">
                                    <li class="nav-item ps-2 pe-2">
                                        <a type="button" data-bs-toggle="tooltip" data-bs-placement="top">
                                            <i class="fa-brands fa-facebook me-3"></i>
                                            <a class="text-reset fw-bold" href="https://www.facebook.com/profile.php?id=100040163888369">Lê Minh Chiến</a>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav mb-2 mb-lg-0 fw-bold mt-3">
                                    <li class="nav-item ps-2 pe-2">
                                        <a type="button" data-bs-toggle="tooltip" data-bs-placement="top">
                                            <i class="fa-brands fa-tiktok me-3"></i>
                                            <a class="text-reset fw-bold" href="https://www.tiktok.com/@l.minh.chien68">l.minh.chien68</a>                                          
                                        </a>
                                    </li>
                                </ul>         
                                <ul class="navbar-nav mb-2 mb-lg-0 fw-bold mt-3">
                                    <li class="nav-item ps-2 pe-2">
                                        <a type="button" data-bs-toggle="tooltip" data-bs-placement="top">
                                            <i class="fa-brands fa-youtube me-3"></i>
                                            <a class="text-reset fw-bold" href="https://www.youtube.com/channel/UCmpANCTQRn6vemX-vlAMtYw">Chiến Gaming</a>      
                                        </a>                                              </a>
                                    </li>
                                </ul> 
                                <ul class="navbar-nav mb-2 mb-lg-0 fw-bold mt-3">
                                    <li class="nav-item ps-2 pe-2">
                                        <a type="button" data-bs-toggle="tooltip" data-bs-placement="top">
                                            <i class="fa-brands fa-instagram me-3"></i>
                                            <a class="text-reset fw-bold" href="https://www.instagram.com/lmchien_04/">Lê Minh Chiến</a>
                                        </a>
                                    </li>
                                </ul> 
                            </div>
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                                <p><i class="fas fa-home me-3"></i> CHIẾN LOUIS VUITTON</p>
                                <p><i class="fas fa-envelope me-3"></i>chienleminh703@gmail.com</p>
                                <p><i class="fas fa-phone me-3"></i> + 84 862 265 JQK</p>
                                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                            </div>                                       
                        </div>                                       
                    </div>
                </section>                        

                <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);"> © 2024 Copyright:
                    <a class="text-reset fw-bold" href="https://www.facebook.com/profile.php?id=100040163888369">minhchien.vn</a>
                </div>

            </footer>
        <!-- Footer -->
    </div>
</div>