<div ng-controller="_SiteBarController" class="bg-success">
    <div>
        <img height="100px" src="image/39437549222_d492806dbf_k-removebg-preview.png" alt="">
    </div>
    <div class="list-group">
        <a href="#/" class="list-group-item">
            Quản lý người dùng
        </a>
        <a href="#!san-pham" class="list-group-item ">
            Quản lý sản phẩm
        </a>
        <a href="#!them-moi-nguoi-dung" class="list-group-item ">
            Thêm mới người dùng
        </a>
        <a href="#!them-moi-san-pham" class="list-group-item ">
            Thêm mới sản phẩm
        </a>
    </div>
</div>