<div class="row">
    <div class="col-12 d-flex">
        <img height="100px" src="https://inkythuatso.com/uploads/images/2021/12/logo-fpt-polytechnic-inkythuatso-09-12-57-46.jpg" alt="">
        <div class="form-group col-sm-8 mt-4" style="margin-left: 40px;">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="mt-2" style="margin-left: 30px;">
            <button type="button" class="btn btn-outline-success m-3"><Strong>Đăng ký</Strong></button>
            <button type="button" class="btn btn-outline-success"><strong>Đăng nhập</strong></button>
        </div>
    </div>
</div>